/* 
 * Spoqa Han Sans
 */
@font-face {
	font-family: 'Spoqa Han Sans';
	font-weight: 200;
	src: local('SpoqaHanSans-Thin'), local('SpoqaHanSans-Thin'),
	url(/font/SpoqaHanSans-Thin.eot) format('eot'),
	url(/font/SpoqaHanSans-Thin.svg) format('svg'),
	url(/font/SpoqaHanSans-Thin.ttf) format('truetype'),
	url(/font/SpoqaHanSans-Thin.woff) format('woff');
}

@font-face {
	font-family: 'Spoqa Han Sans';
	font-weight: 400;
	src: local('SpoqaHanSans-Regular'), local('SpoqaHanSans-Regular'),
	url(/font/SpoqaHanSans-Regular.eot) format('eot'),
	url(/font/SpoqaHanSans-Regular.svg) format('svg'),
	url(/font/SpoqaHanSans-Regular.ttf) format('truetype'),
	url(/font/SpoqaHanSans-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Spoqa Han Sans';
	font-weight: 700;
	src: local('SpoqaHanSans-Bold'), local('SpoqaHanSans-Bold'),
	url(/font/SpoqaHanSans-Bold.eot) format('eot'),
	url(/font/SpoqaHanSans-Bold.svg) format('svg'),
	url(/font/SpoqaHanSans-Bold.ttf) format('truetype'),
	url(/font/SpoqaHanSans-Bold.woff) format('woff');
}


