# Site settings
host: 0.0.0.0
title: 모씨 개발 수첩
email: moonsoo.kim@nrise.net
timezone: Asia/Seoul

# Google analytics
google_analytics: UA-56246190-2

# Optional features
animated:           false
show_related_posts: false
show_post_footers:  false

# Disqus post comments
# (leave blank to disable Disqus)
disqus_shortname:

# Social icons
show_social_icons: false
github_username: nrise
url: "http://nrise.github.io" # the base hostname & protocol for your site
baseurl: "" # the subpath of your site, e.g. /blog/
stackoverflow_id:
twitter_username:
google_plus_id:
linkedin_username:
bitcoin_url:
paypal_url:
flattr_button:

# Build settings
markdown:     kramdown
redcarpet:
  extensions: ['smart', 'tables', 'with_toc_data']
permalink:    pretty
paginate:     10
sass:
  compressed: true
