<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v5.0&appId=840143609777419&autoLogAppEvents=1"></script>
  <a href="#main" class="skip-link p-screen-reader-text">Skip to content</a>
  {{ partial "svgpack-sprite.html" . }}
  <header class="l-header">
    {{ if .IsPage }}
    <p class="c-title p-title"><a href="{{ .Site.BaseURL }}" class="p-title__link">{{ .Site.Title }}</a></p>
    {{ else }}
    <h1 class="c-title p-title"><a href="{{ .Site.BaseURL }}" class="p-title__link">{{ .Site.Title }}</a></h1>
    {{ end }}
    {{ with ($.Param "subtitle") }}
    <p class="p-subtitle">
      {{ . }}
    </p>
    {{ end }}
  </header>
  <main id="main" class="l-main">
